.aside {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.my-photo {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
}
.name {
    font-size: 33px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
.desc {
    margin: 0;
    text-align: center;
    font-size: 16px;
}
.skills-title {
    font-size: 18px;
}
.skills {
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
}
.skills li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.skills img {
    display: block;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.skills span {
    font-size: 25px;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .aside {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .skills {
        display: none;
    }
}