.wrap {
    display: flex;
    justify-content: space-between
}
app-about {
    flex-shrink: 0;
}
app-article-list {
    width: calc(100% - 340px);
}
@media screen and (max-width: 1024px) {
    .wrap {
        flex-direction: column; 
    }
    app-article-list {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
}